html, body {
  font-family: var(--font-family-body);
  font-weight: 400;
}

html {
  font-size: responsive 20px 24px;
  font-range: 320px 1440px;
  line-height: 1.5em;
  background-color: var(--color-light);
}

body {
  line-height: 1.5em;
}

a {
  text-decoration: underline;
  color: var(--color-dark);

  &:hover,
  &:focus {
    color: var(--color-focus);
  }

  &:focus {
    @apply --focus;
  }
}

strong {
  font-weight: 700;
}

ol {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 4px;
  line-height: 1.2em;
  /* list-style: decimal inside; */
  
  li {
    padding: 0.5em;
    color: white;
  }

  li + li {
    /* margin-top: 2px; */
  }

  li:nth-child(8n) {
    /* margin-bottom: 1em;   */
  }

  strong {
    font-size: 0.8em;
    line-height: 0.2em;
  }
}